<a href="https://colab.research.google.com/github/taechang1/ai/blob/master/7%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%98%88%EC%A0%9C_%EC%8B%9C%EB%A6%AC%EC%A6%881.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 판다스는 파이썬의 수 많은 라이브러리 가운데 레이블 형태의 자료를 수집하고 정리하는 데 매우 유용한 도구입니다. 이러한 판다스의 두 가지 대표적인 자료구조가 바로 시리즈(Series)와 데이터프레임(Dataframe)입니다.
먼저 시리즈에 대해 알아보도록 합니다.

- Pandas의 Series는 1차원 배열로서 다음의 특징을 가집니다.
-- 데이터를 담는 차원 배열 구조를 가집니다.
-- 인덱스(index)를 사용 가능합니다.
-- 데이터 타입을 가집니다. (dtype)

In [1]:
import numpy as np
import pandas as pd

In [18]:
# Series의 생성 방법1 - numpy를 이용하기
# 1. numpy array로 생성한 경우
a1 = np.arange( 100, 105 )
print( '넌파이 ', a1)
pd_a1 = pd.Series( a1 )
print( '판다스 a1', pd_a1 )
# 2. dtype 지정하기
pd_a2 = pd.Series( a1, dtype='int32' )
print( '판다스 a2', pd_a2 )
pd_a3 = pd.Series( a1, dtype='float32' )
print( '판다스 a3', pd_a3 )

넌파이  [100 101 102 103 104]
판다스 a1 0    100
1    101
2    102
3    103
4    104
dtype: int64
판다스 a2 0    100
1    101
2    102
3    103
4    104
dtype: int32
판다스 a3 0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
dtype: float32

In [3]:
#Series의 생성 방법2-list를 이용하기
data=[91,2.5,'문자',4,5.16]#리스트안에 다양한 자료형을 넣음
pd_s2=pd.Series(data)
print(pd_s2)
print(pd_s2.dtype)# list 안에 자료가 다양하므로 모든 자료형을 표현할수 있는 object형이 나온다
print(pd_s2.index)

#인덱싱
pd_s2[[1,3] ]#pd_s2[[인덱스1,인덱스2]
pd_s2[[]]

0      91
1     2.5
2      문자
3       4
4    5.16
dtype: object
object
RangeIndex(start=0, stop=5, step=1)

1    2.5
3      4
dtype: object

In [ ]:
#판다스 버전알기 pd.__version__

In [ ]:
#Series의 생성 방법3
import pandas as pd
import numpy as np

np.random.seed(0)
a2=pd.Series(np.random.randint(100,200,size=(10,)))# 100~200 사이의 랜덤수를 10개 만든다
#print(a2)
#
print(a2[a2>150])

In [19]:
# Series의 생성 방법4
a4 = pd.Series( [ '마케팅',  '경영', '개발', '기획', '인시'  ] ,  index=[ 'a', 'b', 'c', 'd', 'e' ] )  # index명 지정하기
print( a4 ) # 인덱스   값 보기
print( a4.index )  # 인덱스 보기
print( a4.values ) # 값보기
print( a4[  'a' ] )    # 'a' 인덱스를 가지고 '마케팅' 값을 보기
# 인덱스를 가지고 경영, 인사 값 보기
print( a4[  [ 'b', 'e' ]  ] )
# dtype보기
print( 'a4.dtype ==> ',  a4.dtype )
# ndim 차원
print( 'a4.ndim ==> ',  a4.ndim  )
# shape 데이터의 모양, 데이터 갯수
print( 'a4.shape ==> ',  a4.shape  )

a    마케팅
b     경영
c     개발
d     기획
e     인시
dtype: object
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
['마케팅' '경영' '개발' '기획' '인시']
마케팅
b    경영
e    인시
dtype: object
a4.dtype ==>  object
a4.ndim ==>  1
a4.shape ==>  (5,)

In [17]:
#nan(not anumber-number)결측값
a5=pd.Series(['선화','강호',np.nan,'소정','우영'])
a5.isna()
a5[a5.isna()]

a5[a5.notnull()]
a5[a5.notna()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [ ]:
from re import A
#슬라이싱
a6=pd.Series(np.arange(100,150,10))
a6.index=list('a','b','c','d','e')
a6['a':'d']
index_list=list('abcd')
index_list
print(a6[index_list],'~~')

시리즈 문제 풀기

In [20]:
# 1
s1 = pd.Series( np.arange( 3, 12, 2), dtype='float32' )
# print( s1 )

# 2
s2 = pd.Series(    list('가나다라마') )
# print( s2 )

# 3
s3 = pd.Series( np.arange( 10, 55, 10) , index=list('가나다라마'), dtype='int64'   )
# print( s3 )

# 4
# print( s3[    [  '나' ,  '라'  ]   ])

# 5
np.random.seed(20)
s5 = pd.Series( np.random.randint(100, 200, size=(15,) )  )
s5[ s5 <= 160  ]

# 6
s5[ (s5 >= 130) & (s5 <=170)  ]

#7
s7 = pd.Series( ['apple', np.nan,  'banana',  'kiwi',  'gubong'] ,
                         index=list( '가나다라마' )  )
# print( s7 )

# 8
s8 = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
# s8[ s8.isna()  ]

# 9
s8[ s8.notna() ]

# 10
np.random.seed(0)
s10 = pd.Series(np.random.randint(100, 200, size=(10,)))
s10[ 2:7 ]

# 11
np.random.seed(0)
s11 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
s11[ '바':'차'  ]
s11[ '가':'다'  ]
s11[ '나':'바'  ]

나    147
다    164
라    167
마    167
바    109
dtype: int64